body{
    background-color:darkslateblue;
    color: wheat;
    font-family: 'Comic Sans MS';
}

#startbutton{
    font-size: 30px;
    border-radius: 12px;
    transition-duration: 0.4s;
    font-family: 'Comic Sans MS';
}

#startbutton:hover{
    background-color: wheat;
    color: black;
    font-family: 'Comic Sans MS';
}